 *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    } 
    #header{
        display: grid;
        grid-template-columns:repeat(12,1fr);
        grid-template-rows: 100px;
        background-color: black;
        grid-gap: 5px;
    }
    #logo{
        grid-column: 1/5;
        width: clamp(5px,50%,100%);
    }
    #nav{
        width: 100%;
        grid-column: 5/-1;
        align-items: center;
        display: flex;
        justify-content: flex-end;
        padding-right: 20px;
        font-size: 28px;
    }
    #nav ul{
        display: flex;
        justify-content: flex-end;
        gap: 30px;
        padding-right: 20px;
        align-items: center;
        color: white;
    }
    .list-style{
        list-style: none;
        
    
    }
    .list-style A{
        text-decoration: none;
        color: white;
    }
    .icons{
        width: 40px;
        height: 34px;
    }
    .burger-nav{
        color: aliceblue;
        width:clamp(12px,45px,45px);
        height: 30px;
        position: absolute;
        right: 72px;
        display: none;
    }
    #articlee{
        width: 100%;
        margin: auto;
    }
    #container p{
        font-weight: 300;
        width: 100%;
    }
    .article{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: auto;
        color:#4B4848;
        gap: 12px;
    }
    .article h1{
        color:#4B4848;
        font-size: 45px;
        font-weight: 300;
        padding-bottom: 20px;
    }
    .article .subtitle{
        font-size: 24px;
    }
    .profiling{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows:80px;
        align-items: center;
        grid-gap: 30px;
    }
    .img-2{
        width: 70px;
        height: 70px;
        border-radius: 50%;
        box-shadow: 1px 1px 3px 0px rgb(104, 107, 104);
        grid-column: 1/2;
        grid-row: 1/2;
        background-color: #06865F;
    }
    .single-img{
        width: 100%;
    }
    .profiling div{
        position: absolute;
        width: 300px;
        margin-left: 80px;
    }
    .profiling h3{
        color: rgb(13, 86, 182);
    }
    .profiling p{
        color:#4B4848;
        font-weight: 200;
    }
    .articles p{
        font-weight: 300;
        font-size: 24px;
        width: 100%;
    }
    #form{
        display: flex;
        align-items:center;
        gap: 32px;
        padding:30px;
        margin: auto;
        background-color: rgba(9, 123, 131, 0.3);
        border-radius: 12px;
    }
    #form textarea{
        width: 300px;
        height: 100px;
        background-color: none;
        border-radius: 12px;
        border: 1px solid rgb(167, 167, 167);
        outline: none;
        padding-top: 5px;
        padding-left: 5px;
    }
    #form .errorr{
        color: red;   
        display: none; 
        font-size: clamp(13px,15px,20px);
        font-weight: 300;
    }
 
    #form div{
        display: flex;
        flex-direction: column;
        gap: 5px;
        position: relative;
    }
    input{
        width: 200px;
        height: 30px;
        border: 1px solid rgb(167, 167, 167);
        border-radius: 12px;
        outline: none;
    }
#form button{
    padding: 5px 0px 5px 0px;
    border-radius: 12px;
    background-color: #06865F;
    border: none;
    color: white;
    font-weight: 400;
    font-size: larger;
}
#footer{
    display: flex;
    justify-content: space-between;
    height: 100px;
    background-color: #06865F;
    align-items: center;
    color: white;
}
#footer ul{
    display: flex;
    padding-right: 30px;
    gap: 12px;
}
#footer li{
    list-style: none;
}
#footer a{
    color: white;
    
}
#footer p{
    color: white;
    margin-left: 20px;
    text-align: center;
}
@media only screen and (max-width:1200px){
    #container{
        padding: 0;
    }
    #nav ul{
        display: none;
    }
    .burger-nav{
        display: block;
        position: relative;
        left: 10px;
    }
    #logo img{
        width: 320px;
        height: 100px;
    }
    #form{
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }
    #footer{
        display: flex;
        flex-direction:column-reverse;
        gap: 10px;
        padding: 20px;
        justify-content: center;
        text-align: center;
    }
    #footer p{
        margin-right: 40px;
        width: fit-content;
    }
}
@media only screen and (max-width:1300px){
    #container{
        padding: 0;
    }
    #nav ul{
        display: none;
    }
    .burger-nav{
        display: block;
        position: relative;
        left: 10px;
    }
    #logo img{
        width: 320px;
        height: 100px;
    }
    #form{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #footer{
        display: flex;
        flex-direction:column-reverse;
        gap: 10px;
        padding: 20px;
        justify-content: center;
        text-align: center;
    }
    #footer p{
        margin-right: 40px;
        width: fit-content;
    }

}

    
