*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
#main{
    width: 90%;
    margin: auto;
}
#header{
    display: grid;
    grid-template-columns:repeat(12,1fr);
    grid-template-rows: 100px;
    background-color: black;
    grid-gap: 5px;
}
#logo{
    grid-column: 1/5;
}
#nav{
 
    grid-column: 5/-1;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    font-size: 28px;
    font-family: ;
}
#nav ul{
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    padding-right: 20px;
    align-items: center;
    color: white;
}
.list-style{
    list-style: none;
    

}
.list-style A{
    text-decoration: none;
    color: white;
}
.icons{
    width: 40px;
    height: 34px;
}
.burger-nav{
    color: aliceblue;
    width: 45px;
    height: 30px;
    position: absolute;
    right: 72px;
    display: none;
}
/*here we are going to design the portfolio part*/
#container{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
}
.portfolio{
    display: flex;
    height: 510px;
    border-bottom: 2px solid gray;
}
.img{
    width: 50%;
}
.img img{
    margin-top: 58px;
    margin-left: 150px;
    max-width: 520px;
    max-height: 450px;
}
.information{
    width: 50%;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.button-info{
    align-self: center;
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 12px;
    background-color: #106932;
    margin-right: 202px;
}
.button-info a{
    text-decoration: none;
    color: white;
    font-weight: 300;
    font-size: larger;
}

.title{
    font-weight: 800;
    font-size: 96px;
    color: #4B4848;
}
/*this is for my work part */
#mywork{
    display: flex;
    flex-direction: column;
    padding: 40px;
    height: fit-content;

}
.web-part{
    text-align: center;
}
.webpart{
    font-weight: 300;
    color:#0DEA65;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 72px;
}
.projects{
    margin-top: 30px;
    display: flex;
    gap: 50px;
    width: 100%;
    border-bottom: 3px solid gray;
    padding-bottom: 100px;

}
.projects img{
    max-width: 5%;
}
.project1{
    width: 20%;
    display: flex;
    flex-direction: column; 
    background-color: rgba(208, 235, 227, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 20px;
    text-align: left;
}
.project2{
    width: 40%;
    display: flex;
    flex-direction: column; 
    background-color: rgba(208, 235, 227, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 20px;
    text-align: left;
}
.project3{
    width:20%;
    display: flex;
    flex-direction: column; 
    background-color: rgba(208, 235, 227, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 20px;
    text-align: left;
}
.project1 img{
    width: 209.69px;
    height: 215.7px;
    border-radius: 12px;
    align-self: center;
}
.project2 img{
    max-width: 450.74px;
    max-height: 319.03px;
    border-radius: 12px;
    align-self: center;
}
.project3 img{
    align-self: center;
    width: 218px;
    height: 218px;
    border-radius: 12px;
}
.slides{
    position: absolute;
    top: 1400px;
    margin-left: 200px;
}
/*this is for the design part*/
.designtitle{
    font-style: normal;
font-weight: 300;
font-size: 72px;
line-height: 108px;
color: #FD0E9D;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
text-align: center;
}
.projects-design{
    display: flex;
    gap: 80px;
    justify-content: center;
    margin-top: 30px;
}
.projects-design p{
    font-weight: 300;
    font-size: 20px;
    padding-left: 10px;

}
.design1{
    background: #FFFFFF;
    box-shadow: 1px 1px 6px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding-bottom: 18px;
    margin-top: 12px;
}
.design2{
    background: #FFFFFF;
    box-shadow: 1px 1px 6px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding-bottom: 18px;
    margin-top: 12px;
}
.design3{

    background: #FFFFFF;
    box-shadow: 1px 1px 6px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding-bottom: 18px;
    margin-top: 12px;
}
.design1 img{
    width: 300px;
    height: 200px;
    border-radius: 10px;
}
.design2 img{
    width: 300px;
    height: 200px;
    border-radius: 10px;
}
.design3 img{
    width: 300px;
    height: 200px;
    border-radius: 10px;
}
#footer{
    display: flex;
    justify-content: space-between;
    height: 100px;
    background-color: #06865F;
    align-items: center;
    color: white;
}
#footer ul{
    display: flex;
    padding-right: 30px;
    gap: 12px;
}
#footer p{
    color: white;
    margin-left: 20px;
    text-align: center;
}
@media only screen and (max-width:730px){
    #container{
        padding: 0;
        max-width: 100%;
    }
    #nav ul{
        display: none;
    }
    .burger-nav{
        max-width: 30px;
        display: block;
        position: relative;
        left: -20px;
    }
    #logo img{
        max-width: clamp(250px,250px,320px);
        height: 100px;
    }
    .portfolio{
        margin-top: 12px;
        max-height: fit-content;
        display: flex;
        flex-direction:column-reverse;
        align-items: center;
        gap: 12px;
    }
    .information{
        padding: 0;
        width: 90%;
        height: 50%;
        display: flex;
        flex-direction: column;

    }
    .button-info{
        align-self: center;
        width: 150px;
        margin-left: 170px;
    }
    .img{
        width: 90%;
        height: 50%;
        z-index: -1;
        
        
    }
    .img img{
        max-width: 80%;
        height: 80%;
        position: relative;
        right: 100px;
        bottom: 7px;
        }
    .title{
        font-size: clamp(15px,2rem,3rem);
    }
    .information h3{
        font-size: clamp(13px,16px,32px);
    }
    /*this is for the web part*/
    .webpart{
        font-size: clamp(15px,30px,32px);
        letter-spacing: 12px;
        text-align: center;
    }
    .projects{
        display: flex;
        width: 100%;
        height: 50%;
        flex-direction: column;
    }
    .project1{
        display: none;
        position: absolute;
        width: 0%;
    }
    .project3{
        display: none;
        width: 0%;
        position: absolute;
    }

    .project2{
        width:  100%;
        display: flex;
        flex-direction: column; 
        background-color: rgba(208, 235, 227, 0.5);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        text-align: left;

    }
    .project2 img{
        max-width: 100%;
    }
    .slides {
        height: 20%;
        position: relative;
        max-width:100px;
        display: flex;
        top: 0;
        margin-left: 0;
        gap:12px;
    }
    .img-1{
        width: 50px;
        height: 50px;
        position: absolute;
        bottom: 20px;
    }
    .img-2{
        width: 120px;
        height: 50px;
        position: absolute;
        left: 70px;
        bottom: 20px;
    }
    .img-3{
        width: 70px;
        height: 50px;
        position: absolute;
        left: 200px;
        bottom: 20px;
    }
     .back{
        position: absolute;
        margin-top: 90px;
        right: clamp(340px,330px,350px);
    }
    .forward{
        position: absolute;
        margin-top: 90px;
        left: clamp(340px,330px,350px);
    }
    /*this is for the design part*/
    .designtitle{
        font-size: clamp(15px,30px,32px);
        text-align: center;
    }
    .projects-design{
        display: flex;
        flex-direction: column;
    }
    .projects-design div{
        width: 100%;
    }
    .design1 img{
        width: 100%;
    }
    .design2 img{
        width: 100%;
    }
    .design3 img{
        width: 100%;
    }
    #footer{
        display: flex;
        flex-direction:column-reverse;
        gap: 10px;
        padding: 20px;
        justify-content: center;
        text-align: center;
    }
    #footer p{
        margin-right: 40px;
        width: fit-content;
    }



}

