*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
#main{
    display: flex;
    flex-direction: column;
    margin: 0px 30px;
    height:100%;
    box-shadow: 0px 2px 1px 0px gray;

}
/*this is for the header part*/
#header{
    display: grid;
    grid-template-columns:repeat(12,1fr);
    grid-template-rows: 100px;
    background-color: black;
    grid-gap: 5px;
}
#logo{
    grid-column: 1/5;
}
#nav{
 
    grid-column: 5/-1;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    font-size: 28px;
    font-family: ;
}
#nav ul{
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    padding-right: 20px;
    align-items: center;
    color: white;
}
.list-style{
    list-style: none;
    

}
.list-style A{
    text-decoration: none;
    color: white;
}
.icons{
    width: 40px;
    height: 34px;
}
/*this is where im going to organize and display the home body*/
#content{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 500px;
    width: 100%;
    height: 85vh;
    margin: auto;
    box-shadow: 0px 2px 2px 0px rgb(206, 197, 197);

    
}
#designer-cont{
    grid-column: 1/6;
    grid-row: 1/2;
    padding: 80px 10px 0 30px ;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.burger-nav{
    color: aliceblue;
    width: 45px;
    height: 30px;
    position: absolute;
    right: 72px;
    display: none;
}
#designer-cont div{
    display: flex;
}
.items{
    z-index: -1;
}
.item-1{
    position: absolute;
    margin-top: 0px;
    width:200px;
    margin-left: 200px;
}
.item-2{
    position: absolute;
    margin-top: 350px;
    height: 150px;
}
.item-3{
    position: absolute;
    right: 1170px;
    width: 300px;
}
.item-4{
    position: absolute;
    margin-left: 620px;
    width: 110px;
    margin-top: 10px;
}
.item-5{
    position: absolute;
    margin-top: 190px;
    margin-left: 710px;
}
.item-6{
    position: absolute;
    margin-top: 390px;
    margin-left: 600px;
    width: 100px;
}
#title1{
    font-size: 40px;
    color: #4B4848;
    font-weight: bolder;
}
p{
    font-weight:300;
    color: #4B4848;
}
#cont-image{
    grid-column: 6/9;
    grid-row: 1/2;
}
.image{
    height: 500px;
    width: 1fr;
    position: absolute;
    right: 350px;

}
.el1{
    height: 250px;
    width: 280px;
    position: absolute;
    top: 320px;
    left: 300px;
    opacity: 0.5;
}
.el2{
    height: 250px;
    width: 350px;
}
.el3{
    height: 250px;
    width: 600px;
    position: absolute;
    top: 350px;
    right: 999px;
    opacity: 0.5;
}
#coder-cont{
    grid-column: 9/-1;
    grid-row: 1/2;
    padding: 80px 20px 0 20px ;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
/*this is for the contact section*/
#contacts{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    height: 100%;
    grid-row: repeat(3,1fr);
}

#profile{
   grid-column: 6/-1;
}
.profile-img{
    width: 600px;
    float: right;
    margin-top: 100px;
    margin-right: 50px;
}
#data{
    grid-column: 1/6;
    grid-row: 1/2;
    padding-left: 70px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
}
#data h1{
    font-weight: 800;
    font-size: 72px;
    color: #4B4848;
    margin-left: -35px;
}
.pp{
    margin-left: -35px;
}
.contact-icons{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: reoeat(2,1fr);
    grid-row-gap: 60px;
    grid-column-gap: 60px;
    padding: 20px;
    margin-left: 62px;
}
.item1{
    width: 60px;
    height: 60px;
    grid-column: 1/6;
    grid-row: 1/2;
}
.item3{
    width: 60px;
    height: 60px;
    grid-column: 6/-1;
    grid-row: 1/2;
}
.item2{
    width: 60px;
    height: 60px;
    grid-column: 1/6;
    grid-row: 2/3;
}
.item4{
    width: 60px;
    height: 60px;
    grid-column: 6/-1;
    grid-row: 2/3;
}
.contact-icons div{
    display: flex;
    gap: 12px;
}
.contact-icons div p{
    align-self: center;
}
.pp2{
    color: #1358BF;
    font-weight: 300;  
    font-size: 30px; 
    
}
.pp3{
    color: #2B3699;
    font-weight: 300;  
    font-size: 30px;  
}
.pp4{
    color: #6900D2;
    font-weight: 300;  
    font-size: 30px; 
}
.pp5{
    color: #0A0909;
    font-weight:300;  
    font-size: 30px; 
}
#message{
    grid-column: 1/-1;
    grid-row: 2/3;
    height: 400px;
    padding: 30px;
    width: 90%;
    margin: auto;
    border-radius: 20px;
    margin-top: 12px;
    box-shadow:1px 1px 1px 3px rgba(60, 60, 65, 0.05);
    display: flex;
    gap: 30px;
    flex-direction: column;
    z-index: 1;
}
#message h3{
    font-size: 24px;
    font-weight: 300;
}
#form{
    display: flex;

    
}
.input1{
    width: 50%;
    display: flex;
    flex-direction: column;
    color: black;
    font-size: 24px;
    padding-left: 12px;
    font-weight: 300;
}
.input2{
    padding: 1px;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 24px;
    font-weight: 300;
}
#form input{
    height: 42px;
    width: 80%;
    position: relative;
    bottom: 22px;
    border: 1px solid #B78FA7;
}
#form textarea{
    height: 100px;
    background-color: white;
    width: 100%;
    height: 165px;
    padding: 12px;
    border: 1px solid #B78FA7;
}
#form button{
    align-self: flex-end;
    padding: 10px 30px 10px 30px;
    background-color: #242627;
    border-radius: 10px;
    color: white;
    font-size: 14px;
    font-weight: 300;
}
/*this is the about section */
#about-me{
    margin-top: 12px;
    padding: 30px 0px 0px 100px;
    border-top: 1px solid rgb(221, 218, 218);
    width: 100%;
    height: fit-content;
    box-shadow: -1px -1px 1px 6px rgb(223, 217, 217);
}
.about-cont{
    display: flex;
    padding-top: 30px;
}
.about{
    padding-left: 60px;
}
.about p{
    width: 460px;
    font-size: 15px;
}
.about h1{
    font-weight: 800;
    font-size: 96px;
    color: #4B4848;
}
.about h3{
    font-weight: 400;
    color: #4B4848;
}
.profile img{
    width: 500px;
    position: relative;
    left: 40%;
}
#my-Performance{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(2,500px);
    grid-gap: 12px;
}
.design-part{
    grid-column: 1/5;
    grid-row: 1/2;
    padding: 20px 0px 0px 70px;
    font-size: 24px;
    color: #4B4848;
    font-weight: 300;
}
.design-part h1{
    color: #FD0E9D;
    font-size: 40px;
    font-weight: 400;
}
.chart{
    grid-column: 5/8;
    grid-row: 1/2;
}
.chart img{
    width: 450px;
    right: 545px;
    position: absolute;
    margin-top: 22px;
}
.coding-part{
    grid-column: 8/-1;
    grid-row: 1/2;
    padding: 20px 0px 0px 50px;
    font-size: 24px;
    color: #4B4848;
    font-weight: 300;
}
.coding-part h1{
    color: #37A886;
    font-size: 40px;
    font-weight: 400;
    padding-bottom: 20px;
}
.skill-set{
    grid-column: 1/-1;
    grid-row: 2/-1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.skill-set img{
    width: 500px;
}
ul li{
list-style: none;
}
.skill-set a{
    color: #1358BF;
}
#blogs{
    margin-top: 12px;
    padding: 30px 0px 0px 100px;
    margin: auto;
}
#blogs h1{
    font-style: normal;
font-weight: 800;
font-size: 96px;
color: #4B4848;
}
#group{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(2,minmax(300px,auto));
    margin-left: 202px;
    grid-gap: 12px;
    color: #4B4848;
}
.blog1{
    grid-column: 1/6;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px;
    box-shadow: 0px 1px 4px 3px rgba(0, 0, 0, 0.08);
}

.blog2{
    grid-column: 7/12;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    padding: 12px;
    box-shadow: 0px 1px 4px 3px rgba(0, 0, 0, 0.08);
}
.blog3{
    grid-column: 1/6;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    padding: 12px 12px 30px 12px;
    box-shadow: 0px 1px 4px 3px rgba(0, 0, 0, 0.08);
}
.blog4{
    grid-column: 7/12;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    padding: 12px;
    box-shadow: 0px 1px 4px 3px rgba(0, 0, 0, 0.08);
}
.blog-image{
    width: 100%;
    height: 200px;
}
.icony{
    width: 38px;
    height: 38px;
    background-color: #06865F;
    display: flexbox;
    flex-direction: column;
    border-radius: 50%;
    margin-left: 380px;
}
.icony img{
    width: 50%;
    height: 20px;
    position: relative;
    left: 10px;
    top: 11px;
}
.more{
    position: relative;
    left: 685px;
}
#footer{
    display: flex;
    justify-content: space-between;
    height: 100px;
    background-color: #06865F;
    align-items: center;
    color: white;
}
#footer ul{
    display: flex;
    padding-right: 30px;
    gap: 12px;
}
#footer p{
    color: white;
    margin-left: 20px;
    text-align: center;
}
/*this is for the blogs part*/
@media only screen and (max-width: 600px){
    #main{
        display: flex;
        flex-direction: column;
        background-color: #FD0E9D;
    }
    #nav ul{
        display: none;
    }
    .burger-nav{
        display: block;
    }
    #logo img{
        width: 320px;
        height: 100px;
    }
}




